@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
    --theme: rgb(227, 154, 166);
}
.landing{
    background-color:WHITE;
    padding-left: 15%;
    height: 40em;
    display: flex;
    flex-direction: column;
    position: relative;
    transform-origin: bottom left;
    animation: initialRender 800ms forwards;
}
.nameFirst{
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    position: absolute;
    bottom: 22.5%;
    font-weight: 300;
    color: var(--theme);
}
.nameSecond{
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
}
.slogan{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    position: absolute;
    bottom: 5%;
    left:50%
}
.border{
    height: 2rem;
    background-color: rgba(0, 0, 0, .95);
    border-bottom: 1px solid var(--theme);
    animation: lineFade 1600ms forwards;
}
.images{
    width: 100%;
}
.contentRight{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 5%;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.imgRight{
    width: 20%;
    border: .125rem solid black;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.21);
    margin-right: 15%;
    display: flex;
}
.overlayRight{
    width: 20%;
    border-radius: 2%;
    aspect-ratio: 1;
    position: absolute;
    margin-right: 25%;
    top:35%;
    background:rgba(0, 0, 0, .75);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-left:1rem;
    padding-right: 1rem;
}

.imgLeft{
    width: 20%;
    border: .125rem solid black;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.21);
    margin-left: 15%;
    display: flex;
}
.overlayLeft{
    width: 20%;
    border-radius: 2%;
    aspect-ratio: 1;
    position: absolute;
    margin-left: 25%;
    top:35%;
    background:rgba(0, 0, 0, .75);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-left:1rem;
    padding-right: 1rem;
}
.overlayLink{
    color: var(--theme);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    height: auto;
    margin: 0;
    font-weight: bold;
}
.contentLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    position: relative;
    loading: lazy;
}
span{
 color: var(--theme);
 font-size: inherit;
}


@media (max-width:1600px){
    .landing{
        height: 30em;
    }
    .nameFirst{
        font-size: 6rem;
        bottom: 22.5%;
    }
    .nameSecond{
        font-size: 6rem;
    }
    .slogan{
        font-size: 3rem;
    }
    .imgLeft,.imgRight, .overlayLeft,.overlayRight{
        width: 20%;
    }
}
@media (max-width:1200px){
    .landing{
        height: 20em;
    }
    .nameFirst{
        font-size: 4rem;
        bottom: 22.5%;
    }
    .nameSecond{
        font-size: 4rem;
    }
    .slogan{
        font-size: 3rem;
        bottom: 2.5%;
    }
    .imgLeft,.imgRight, .overlayLeft,.overlayRight{
        width: 15%;
    }
    .overlayLeft,.overlayRight{
        font-size: .8rem;
    }
}
@media (max-width:850px){
    .landing{
        height: 15em;
    }
    .nameFirst{
        font-size: 3rem;
        bottom: 22.5%;
    }
    .nameSecond{
        font-size: 3rem;
    }
    .slogan{
        font-size: 2rem;
        bottom: 1.5%;
    }
    .imgLeft,.imgRight, .overlayLeft,.overlayRight{
        width: 15%;
    }
    .overlayLeft,.overlayRight{
        font-size: .55rem;
    }
}

@media (max-width:600px){
    .landing{
        height: 10em;
    }
    .nameFirst{
        font-size: 2rem;
        bottom: 22.5%;
    }
    .nameSecond{
        font-size: 2rem;
    }
    .slogan{
        font-size: 1.5rem;
        bottom: 1.5%;
    }
    .imgLeft,.imgRight, .overlayLeft, .overlayRight{
        width: 15%;
    }
    .overlayLeft,.overlayRight{
        font-size: .4rem;
    }
}

@media (max-width:429px){
    .landing{
        padding: 0;
    }
   .nameFirst,.nameSecond {
    left:5%
    }
    .slogan{
        font-size: 1.25rem
    }
    .overlayLeft,.overlayRight{
        font-size: .3rem;
    }
}

@keyframes initialRender {
    0%{
        transform: rotate(-90deg);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: rotate(0deg);
        opacity: 100;
    }
}

@keyframes lineFade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.reveal{
    opacity: 0;
    transform: translateY(200px);
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.App:last-child{
    margin-bottom: 20%;
}